html { background: #151515;	font: 1em Arial; color: #222; }
* {	padding: 0px; margin: 0px; }
div.nofloat{clear:both;}

@font-face { font-family: 'wendy'; src: url("font/8bit.ttf");}
@font-face { font-family: 'danielbk'; src: url("font/danielbk.ttf");}
#main{width: 960px; text-align: left;	margin: 30px auto;}

	

/*TESTEUR */
#game {position: absolute;margin-top: 6px;}
canvas {}
#canvas {position: absolute; left: 0px; top: 120px;}
#uicanvas{}
#bgcanvas{position: relative;z-index: -10;}
	
/*ÉDITEUR*/
#creator {
	line-height:0px;
	text-align: center;}
#creator #editor{
	width: 960px;
	display: inline-block;
	line-height: 0;
	visibility: hidden;
	text-align: center;
	background: url(img/bg.png) no-repeat center center;}

#creator #editor .cell{	border: solid 1px #aaa; width: 62px; height: 62px; cursor: pointer; display: inline-block;}
#creator #editor .cell:hover{border: solid 3px #00c4d3; width: 58px; height: 58px;}
#creator #editor .wall{	border: solid 1px #aaa; width: 62px; height: 62px; display: inline-block;}
/*SELECTEUR*/
#selector{
	line-height: 0;
	display: inline-block;
	width: 960px;
	overflow-y: scroll;
	height: 130px;
	visibility: hidden;
	background : #aaa;
	text-align: center;}
#selector .selection{
	background-color: #aaa;
	width: 62px;
	height: 62px;
	cursor: pointer;
	display: inline-block;}
#selector .selection:hover{background-color: #00c4d3;}
	
/*OPTIONS*/
#options{
	background : #aaa;
	text-align: center;
	width: 960px;
	height: 70px;
	visibility: hidden;
	margin: auto;}
#options #active{
	display: inline-block;
	background-color: #ddd;
	width: 62px;
	height: 62px;
	border: solid 1px #333;
	background-image:  url(icon/0.png);
	text-align: center;}
#options #save {
	display: inline-block;
	float: right;
	margin: 12px;
	text-align: center;}
#options #codeinput{
	display: inline-block;
	float: left;
	margin: 12px;
	text-align: center;}

#options #test{
	margin: 2px;
	display: inline-block;
	text-align: center;}
#options #test input{
	vertical-align: 1.5em;}
	
input {text-align: right;margin: 4px 3px; padding: 6px; font: 1em Verdana;}
h1{
	font: bold 1.4em Calibri;
	color: #fff;
	margin:auto;
	text-align: right;
	display:block;
	background : #aaa;
	border: solid 1px #aaa;}

#editorlink{
	margin: 10px auto;
	text-align: center;
}
#editorlink ul{
	margin: 30px auto;
	width: 800px;
	list-style-type : none;
	text-align: left;
	color: #aaa;
}
#editorlink ul li {
	margin: 5px 0;
}
#editorlink ul li.ul-title {
	margin: 15px 0;
}
#editorlink ul span {
	color: #00c4d3;
}
#editorlink > a{background: #aaa;font-weight: bold;text-decoration: none; color:#151515;padding: 8px;}
#editorlink > a:hover{background: #00c4d3;font-weight: bold;text-decoration: none; color:#151515;padding: 8px;}
#editorlink ul a{color: #00c4d3;font-weight: bold;}
#editorlink ul a:hover{text-decoration: underline;}
#testbtn{background: #00c4d3;}
#savebtn,#readbtn{background: #ccc;}
#resetbtn,#clearbtn{background: #888;}