html { background: #151515;	font: 1em Arial; }
* {	padding: 0px; margin: 0px; }
@font-face {
    font-family: 'wendy';
    src: url("font/wendy.ttf");}
#game {
	width: 970px;
	margin: 20px auto;
	line-height:0px;
	text-align: center;}
#label {
	position: absolute;
	height: 32px;
	z-index: 1;
	font: bold 1.1em Verdana;
	color: #fff;
	float: right;}
#fps {
	font: 1.1em Verdana;
	position: relative;
	left: 740px;
	float: right;}
#score {
	font: bold 1.1em Verdana;
	position: relative;
	left: 12px;}
canvas { border-left: solid 6px #000;border-right: solid 6px #000;cursor: crosshair; background: #272727; margin: auto;}
#canvas { border-bottom: solid 6px #000;}
#uicanvas{border-bottom: solid 0px #323131;}
