html { background: #222;	font: 1em Arial; }
* {	padding: 0px; margin: 0px; }
#game {
	width: 1200px;
	margin: auto;
	line-height:0px;
	text-align: center;
}
#label {
	position: absolute;
	height: 32px;
	z-index: 1;
	font: bold 1.1em Verdana;
	color: #fff;
	float: right;
}
#fps {
	font: 1.1em Verdana;
	position: relative;
	left: 740px;
	float: right;
}
#score {
	font: bold 1.1em Verdana;
	position: relative;
	left: 12px;
}
canvas { border: solid 6px #000; cursor: none; background: #444; margin: auto;}

#statCanvas {
	border-top: solid 0px #000;
}