html { background: #151515;	font: 1em Arial; }
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: 'wendy';
    src: url("font/8bit.ttf");}
@font-face {
    font-family: 'danielbk';
    src: url("font/danielbk.ttf");}

#game {
	width: 960px;
	margin: 20px auto;
	line-height:0px;
	text-align: center;
	position: relative;
}

#fullscreen:fullscreen #game {
	width: auto;
	margin: 0 auto;
}

canvas {
	border-left: solid 6px #000;
	border-right: solid 6px #000;
	margin: auto;
}

.board-conrainer {
	position: relative;
	border-bottom: solid 6px #000;
}

#canvas {
	position: absolute;
	top: 0;
  left: 0;
	color:#fff;
}

#uicanvas{
	border-bottom: solid 0px #323131;
	background: #000;
}
#bgcanvas{
	border-bottom: solid 0px #323131;
	position: relative;
	z-index: -10;
}

#editorlink{
	margin: 10px auto;
	text-align: center;
}
#editorlink ul{
	margin: 30px auto;
	list-style-type : none;
	text-align: center;
	color: #aaa;
}

#editorlink > a{background: #aaa;font-weight: bold;text-decoration: none; color:#151515;padding: 8px;}
#editorlink > a:hover{background: #00c4d3;font-weight: bold;text-decoration: none; color:#151515;padding: 8px;}
#editorlink ul a{color: #00c4d3;font-weight: bold;}
#editorlink ul a:hover{text-decoration: underline;}